<div class="not-authorized">
    <div class="not-authorized__container">
        <div class="not-authorized__content">
            @if (data$ | async; as data;) {

                @if (data["type"] === "not-found") {
                    <h2 class="poppins-semibold">Página não encontrada =(</h2>
                } @else {
                    <h2 class="poppins-semibold">Você não tem permissão para acessar esta página.</h2>
                }
            }
    
            <button class="poppins-regular not-authorized__button" routerLink="/dashboard">Voltar</button>
        </div>
    </div>
</div>