<div class="menu">
  <div class="menu__item">
      <a class="menu__link" (click)="navegationToInitial()">
          Inicial
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="navegationToContacts()">
          Contatos
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="navegationToInformations()">
          Informações
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="navegationToCards()">
          Cartões
      </a>
  </div>
</div>

<router-outlet></router-outlet>