<div class="menu">
  <div class="menu__item">
      <a class="menu__link" (click)="onInitial()">
          Inicial
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="onContacts()">
          Contatos
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="onInformations()">
          Informações
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="onCards()">
          Cartões
      </a>
  </div>
</div>

<router-outlet></router-outlet>